<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="argallab_jaco">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="sim" default="real" />

    <!-- Import ada urdf file -->
    <xacro:include filename="$(find ada_description)/urdf/argallab_jaco.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="argallab_jaco.ros2_control.xacro" />


    <xacro:argallab_jaco_ros2_control name="JacoHardware" 
        initial_positions_file="$(arg initial_positions_file)"
        sim="$(arg sim)" />

</robot>
